h1
{
  color: peru;
  font-family: 'Gwendolyn', cursive;
  font-family: 'Lobster Two', cursive;
}
a{
    color:white;
    font-family: 'Gwendolyn', cursive;
    font-family: 'Lobster Two', cursive;
    font-weight: 800;
    font-size:20px;

}
#nav{
    font-weight: 800;
    font-family: 'Gwendolyn', cursive;
    font-family: 'Lobster Two', cursive;
    padding:20px;
}
#responsive{
  height:50%;
  width:100px;
}
.prof{
  height:50px;
  width:50px;
  border-radius: 50%;

}
.container-fluid{
  font-family: 'Gwendolyn', cursive;
  font-family: 'Lobster Two', cursive;
}
#regis{
  font-family: 'Gwendolyn', cursive;
  font-family: 'Lobster Two', cursive;
}
.insta{
  margin-left: 100px;
}
.side{
  margin-left:350px;
}
