{%extends 'all-glam/base.html'%}

{% block content %}
{{block.super}}
<h1 class="text-center"><i class="fas fa-hashtag"></i>GramInsta</h1>
<div class="container-fluid">
    <div class="px-lg-4">
        <div class="row">
            {% for pic in image %}
            <!-- Gallery Photo item start -->
            <div class="col-md-4">
              <div class="bg-white rounded shadow-sm"><img src="{{ pic.image.url }}" alt=""class="img-fluid card-img-top">
                <div class="p-4">
                  <h5 class="headings text-center"> {{ pic.name }}</h5>
                  <div class="justify-content-between">
                      <div class="text-center">
                        <p class="text-dark text-capitalize">{{ pic.caption }}</p>
                      </div>
                    <div>
                      <small class="text-muted">
                        <span class="badge rounded-pill bg-dark text-white text-capitalize">{{ pic.pub_date|date }}</span>
                      </small>
                    </div>
                </div>
                </div>
             </div>
           </div>
           {% endfor%}
        </div>
    </div>
</div>

    

{% endblock %}
